<ul class="nav justify-content-center mt-5 mb-5">
    {% for category in categories %}
        <li class="nav-item">
            <a class="nav-link" href="/details/{{category.pk}}"><h3>{{category.name}}</h3></a>
        </li>
    {% endfor %}

    {% if request.path != '/' %}
    <li class="nav-item">
        <a class="nav-link" style="background-color: rgba(0, 255, 76, 0.301); border-radius: 20px;" href="/"><h4>Назад</h4></a>
    </li>
    {% endif %}

</ul>

{% if request.path == '/' %}
    {% if len_categories > 0 %}
        <div class="text-center">
            <h1>↑</h1>
            <h3>Выберите категорию</h3>
        </div>
    {% else %}
        <div class="text-center">
            <h1>Здесь должны быть категории, но по какой-то причине они отсутствуют</h1>
        </div>
    {% endif %}
{% endif %}
