{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row">
        <div class="m-5 text-center">
            <h2>Наши контакты</h2>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="card box-shadow">
                    <div class="card-body">
                        <table class="table table-striped">
                            <tbody>
                                <tr>
                                    <td class="w-25">
                                        <h5>Город</h5>
                                    </td>
                                    <td>
                                        Уфа
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25">
                                        <h5>Адрес</h5>
                                    </td>
                                    <td>
                                        Артезианская 15, 5 подъезд
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-25">
                                        <h5>Телефон</h5>
                                    </td>
                                    <td>
                                        +372 55901554
                                    </td>
                                </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
            <div class="col-2"></div>
            <div class="col-4">
                <form action="">
                    {% csrf_token %}

                    <div class="card">
                        <div class="card-header">
                          <h5>Форма для связи</h5>
                        </div>
                        <div class="card-body">
                            <div class="mb-2">
                                <label for="name" >Имя</label>
                                <input class="form-control" type="text" name="name" id="name" placeholder="Ваше имя" required>
                            </div>

                            <div class="mb-2">
                                <label for="email" >Почта</label>
                                <input class="form-control" type="email" name="email" id="email" placeholder="Ваша почта" required>
                            </div>

                            <div class="mb-2">
                                <label for="phone" >Телефон</label>
                                <input class="form-control" type="number" name="phone" id="phone" placeholder="Номер телефона">
                            </div>

                            <div class="mb-2">
                                <label for="message" >Сообщение</label>
                                <textarea class="form-control" name="message" id="message" placeholder="Ваше сообщение нам" rows="5" required></textarea>
                            </div>

                            <div class="mt-2">
                                <a class="btn btn-outline-primary" href="{% url 'catalog:success' %}">
                                    Отправить
                                </a>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
{% endblock %}
    <script src="/static/js/bootstrap.bundle.min.js"></script>

</body>
</html>
