{% extends 'catalog/base.html' %}


{% block content %}

{% include 'catalog/categories.html' %}

    <div class="row">
    {% for good in goods %}

        <div class="col-3">
            <div class="card h-100">
                {% if good.img.name == '' %}
                    <img src="/media/photos/without_photo.png" alt="{{good.name}}" class="card-img-top">
                {% else %}
                    <img src="/media/{{good.img}}" alt="{{good.name}}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{good.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{good.price}} RUB</h6>
                    <p class="card-text">{{good.descr|truncatechars:100}}</p>

                </div>
                <a href="/good/{{good.id}}" class="btn btn-primary" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">Подробно</a>
            </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}

