{% extends 'catalog/base.html' %}


{% block content %}

    <div class="row mt-5">
        <div class="col-3">
            <div class="card h-100">
                {% if product.img.name == '' %}
                    <img src="/media/photos/without_photo.png" alt="{{product.name}}" class="card-img-top">
                {% else %}
                    <img src="/media/{{product.img}}" alt="{{product.name}}" class="card-img-top">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">{{product.price}} RUB</h6>
                    <p class="card-text">{{product.descr}}</p>
                    <p class="card-subtitle text-body-secondary">Категория: {{product.category}}</p>

                </div>
                <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-warning" style="border-radius: 0px">Изменить</a>
                <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-danger" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">Удалить</a>
            </div>
        </div>
    </div>


{% endblock %}

