{% extends 'catalog/base.html' %}

{% block content %}


{% if add_data.len_products > 0 %}
    <div class="row">
        <div class="m-5 text-center">
            <h3>Вас могут заинтересовать эти товары</h3>
            <h1>↓</h1>
        </div>
        {% for product in products %}
            <div class="col-3 mb-3">
                <div class="card h-100">
                    {% if product.img.name == '' %}
                        <img src="/media/photos/without_photo.png" alt="{{product.name}}" class="card-img-top">
                    {% else %}
                        <img src="/media/{{product.img}}" alt="{{product.name}}" class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{product.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">{{product.price}} RUB</h6>
                        <p class="card-text">{{product.descr|truncatechars:100}}</p>

                    </div>
                    <a href="{% url 'catalog:good' product.pk %}" class="btn btn-primary" style="border-top-left-radius: 0px; border-top-right-radius: 0px;">Подробно</a>
                </div>
            </div>


        {% endfor %}
    </div>
{% else %}
    <div class="text-center">
        <h1>Здесь должны быть категории и товары, но по какой-то причине они отсутствуют 🤔</h1>
    </div>
{% endif %}


{% endblock %}
