{% extends 'catalog/base.html' %}

{% block title %}Новый продукт{% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-5">
        <div class="col-3"></div>

        <div class="col-6">
            <h1 class="mb-5 text-center">Новый товар</h1>
            <form method="post" enctype="multipart/form-data">
                <div class="list-group">

                    <span>
                        <a href="{% url 'catalog:category_new' %}" class="btn">➕ Добавить категорию</a>
                        <a href="{% url 'catalog:category_list' %}" class="btn">Список категорий</a>
                    </span>
                </div>


                {% csrf_token %}
                {{ form.as_p }}
                {% if 'product_new' in request.path %}
                <button type="submit" class="btn btn-success">Добавить товар</button>
                {% else %}
                <button type="submit" class="btn btn-success">Изменить</button>
                {% endif %}
            </form>



        </div>

        <div class="col-3"></div>
    </div>

</div>


{% endblock %}
